@import "tailwindcss";

@layer base {
    * {
        @apply transition-colors duration-300;
    }

    body {
        @apply bg-white text-slate-900 antialiased font-sans;
    }

    .dark body {
        @apply bg-slate-950 text-slate-100;
    }
}

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui;
    --color-primary: #2563eb;
    /* text-blue-600 */
}